/* General Styling */

/* Button Styling */
.btns {
  display: flex;
  color: white;
  border: none;
  background-color: rgb(65, 174, 236);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.btns:hover {
  opacity: 0.8;
  transition: all 500ms ease;
}
/* Span Text Styling */
#custom-space {
  color: rgba(245, 245, 245, 0.678);
  margin-left: 2%;
}

/* Container Styling */

/* Image Preview Styling */
.preview_holder {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-height: 100px; 
  border-radius: 50%;
  border: dotted;
}
#preview2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 200px; 

  border: dotted;
}
.preview_img {
  display: none;
 
  object-fit: cover;
}


.cards{
  border:none;
  border-radius: 10px !important;
}

.btnnewpost{
  color: grey;
  width: 100%;
  background-color: #f5f5f5;
}

.btnlike{
  display: flex;
  margin: auto;
}

.btnlike:hover{
  background-color: #f5f5f5;
}